<aside>
    <img src="images/headshot.jpg" alt="Alex Racapé" class="headshot">
    <div class="logo"><a href="index.html">Alex Racapé</a></div>
    <nav>
        <a href="Projects.html">Projects</a>
        <a href="Education.html">Education</a>
        <a href="Work.html">Work</a>
        <a href="Hobbies.html">Hobbies</a>
        <a href="About Me.html">About Me</a>
    </nav>
    <div class="blurb">
        <p>Software engineer focused on AI/ML applications. Graduating from Columbia University with a M.S. in Machine Learning.</p>
    </div>
</aside>